<!DOCTYPE html>
<html>
    <head>
        <title>Juicy - Post to Confessions</title>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
        <link href='//fonts.googleapis.com/css?family=Signika:400,700,600,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/index.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascript/particles.js"></script>
        <script type="text/javascript" src="/javascript/index.js"></script>
    </head>
    <body>
        <div class="container">
          <div class="information">
            <div class="header">Confessions</div>
            <div class="subheader">Share without worries!</div>
            <form class="form" action="/confession">
              <input name="_csrf" type="hidden" value="<%= csrf %>"/>
              <textarea name="message" class="input textarea" placeholder="Your confession" autofocus></textarea>
              <input class="submit" type="submit" value="Post Your Confession" />
              <div class="contact">We will always keep your identity a secret.</div>
            </form>
          </div>
          <img class="image" src="/images/iphone-confessions.png"/>
        </div>
        <canvas id="canvas"></canvas>
    </body>
</html>
