<!DOCTYPE html>
<html>
    <head>
        <title>Join the Beta</title>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
        <link href='//fonts.googleapis.com/css?family=Signika:400,700,600,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/index.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascript/particles.js"></script>
        <script type="text/javascript" src="/javascript/index.js"></script>
    </head>
    <body>
        <div class="container">
          <div class="information">
            <div class="header">Juicy</div>
            <div class="subheader">Share without worries!</div>
            <form class="form" action="/tester">
              <input name="_csrf" type="hidden" value="<%= csrf %>"/>
              <input name="name" class="input" type="text" placeholder="My Name" required step="1" autofocus/>
              <input name="email" class="input" type="email" placeholder="My Email" required step="2"/>
              <input class="submit" type="submit" value="Join the beta, it will be fun :)" />
              <div class="contact">We will contact you by email soon...</div>
            </form>
          </div>
          <img class="image" src="/images/home.png"/>
        </div>
        <canvas id="canvas"></canvas>
    </body>
</html>
