<html>
  <head>
  </head>
    <style>
      body {
        font-size: 2em;
        padding: 40px;
      }
    </style>
  <body>
    <p>
    This privacy policy sets out how "Juicy" uses and protects any information that you give “Juicy" when you use the website or app.
    “Juicy” is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using the website or app, then you can be assured that it will only be used in accordance with this privacy statement.
    “Juicy” may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from [date].
    </p>
    <p>
    What we collect <br>
    We may collect the following information:
    <br>
    name and job title<br>
    contact information including email address<br>
    demographic information such as postcode, preferences and interests<br>
    other information relevant to customer surveys and/or offers<br>
    </p>
    <p>
    What we do with the information we gather<br>
    We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
    </p>
    <p>
    Internal record keeping.<br>
    We may use the information to improve our products and services.<br>
    We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided.<br>
    From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.<br>
    We may use the information to customize the website and app according to your interests.<br>
    We may provide your information to our third party partners for marketing or promotional purposes.<br>
    We will never sell your information.<br>
    </p>
  </body>
</html>
