<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.5.2 (Linux)">
	<META NAME="CREATED" CONTENT="0;0">
	<META NAME="CHANGED" CONTENT="0;0">
	<STYLE TYPE="text/css">
	<!--
	  body { margin: 2em; }
		@page { size: 8.5in 11in; margin-right: 1in; margin-top: 0.5in; margin-bottom: 0.5in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2; font-size: 2em; }
		P.western { font-family: "Times New Roman", serif; font-size: 3em; so-language: en-US }
		P.cjk { font-family: "Times New Roman", serif; font-size: 3em }
		P.ctl { font-family: "Times New Roman", serif; font-size: 3em; so-language: ar-SA }
		H2 { margin-bottom: 0.04in; background: transparent; direction: ltr; font-variant: normal; color: #000000; line-height: 100%; text-align: left; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-before: auto; page-break-after: auto }
		H2.western { font-family: "Cambria", serif; font-size: 3em; font-style: normal }
		H2.cjk { font-family: "Arial Unicode MS", sans-serif; font-size: 3em; font-style: normal }
		H2.ctl { font-family: "Arial Unicode MS", sans-serif; font-size: 3em; font-style: normal }
		H3 { margin-bottom: 0.04in; background: transparent; direction: ltr; font-variant: normal; color: #000000; font-family: "Cambria", serif; font-size: 3em; font-style: normal; line-height: 100%; text-align: left; page-break-inside: auto; widows: 2; orphans: 2; text-decoration: none; page-break-before: auto; page-break-after: auto }
		A:link { color: #000000 }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#000000" DIR="LTR">
<H2 CLASS="western"><FONT COLOR="#333333">PRIVACY POLICY MODEL FOR
MOBILE APPLICATIONS</FONT></H2>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">This
privacy policy governs your use of the software application Juicy
(</SPAN></FONT><FONT COLOR="#333333">“</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">Application</SPAN></FONT><FONT COLOR="#333333">”</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">)
for mobile devices that was created by</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="de-DE">Brian
Vallelunga.</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">The
Application is</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">called
Juicy and is an anonymous social network for sharing photographic and
textual content.</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT></FONT></P>
<H3></H3>
<H3><FONT COLOR="#333333">What information does the Application
obtain and how is it used?</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<BR><BR>
</P>
<H3><FONT COLOR="#333333"><SPAN LANG="en-US">User Provided
Information</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">The
Application obtains the information you provide when you download and
register the Application.</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">Registration
with us is optional. However, please keep in mind that you may not be
able to use some of the features offered by the Application unless
you register with us.</SPAN></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<BR><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">When
you register with us and use the Application, you generally
provide</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">(a)
your name, email address, facebook profile information including
friends list, age, user name, password and other registration
information; (b) transaction-related information, such as when you
make purchases, respond to any offers, or download or use
applications from us; (c) information you provide us when you contact
us for help; (d) credit card information for purchase and use of the
Application, and; (e) information you enter into our system when
using the Application, such as contact information and project
management information.</SPAN></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<BR><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333"><FONT FACE="Calibri, serif">We may also use the
information you provided us to contact your from time to time to
provide you with important information, required notices and
marketing promotions.</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<BR><BR>
</P>
<H3><FONT COLOR="#333333"><FONT FACE="Times New Roman Bold, serif"><SPAN LANG="en-US"><SPAN STYLE="font-weight: normal">Automatically
Collected Information</SPAN></SPAN></FONT></FONT><FONT COLOR="#333333">&nbsp;</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">In
addition, the Application may collect certain information
automatically, including, but not limited to, the type of mobile
device you use, your mobile devices unique device ID, the IP address
of your mobile device, your mobile operating system, the type of
mobile Internet browsers you use, and information about the way you
use the Application.</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT></FONT></P>
<H3></H3>
<H3><FONT COLOR="#333333">Does the Application collect precise real
time location information of the device?</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333"><FONT FACE="Calibri, serif">When you visit the
mobile application, we may use GPS technology (or other similar
technology) to determine your current location in order to determine
the city you are located within and display a location map with
relevant advertisements. We will not share your current location with
other users or partners.</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<BR><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">If
you do not want us to use your location for the purposes set forth
above, you should turn off the location services for the mobile
application located in your account settings or in your mobile phone
settings and/or within the mobile application.</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333">&nbsp;</FONT></P>
<H3><FONT COLOR="#333333">Do third parties see and/or have access to
information obtained by the Application?</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333"><FONT FACE="Calibri, serif">Yes. We will share
your information with third parties only in the ways that are
described in this privacy statement.</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333"><FONT FACE="Calibri, serif">We may disclose
User Provided and Automatically Collected Information:</FONT></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
	<FONT COLOR="#333333"><FONT FACE="Calibri, serif">as required by
	law, such as to comply with a subpoena, or similar legal process;</FONT></FONT></P>
</UL>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
	<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">when
	we believe in good faith that disclosure is necessary to protect our
	rights, protect your safety or the safety of others, investigate
	fraud, or respond to a</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">government
	request;</SPAN></FONT></FONT></P>
</UL>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
	<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">with
	our trusted services providers who work on our behalf, do not have
	an</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">independent
	use of the information we disclose to them, and have agreed to
	adhere</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">to
	the rules set forth in this privacy statement.</SPAN></FONT></FONT></P>
</UL>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
	<FONT FACE="Calibri, serif"><FONT COLOR="#333333">if&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="de-DE">Brian
	Vallelunga</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">is
	involved in a merger, acquisition, or sale of all or a</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">portion
	of its assets, you will be notified via email and/or a prominent
	notice on our Web site of any change in ownership or uses of this
	information, as well as any choices you may have regarding this
	information.</SPAN></FONT></FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<BR><BR>
</P>
<H3><FONT COLOR="#333333">What are my opt-out rights?</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333"><FONT FACE="Calibri, serif">You can stop all
collection of information by the Application easily by uninstalling
the Application. You may use the standard uninstall processes as may
be available as part of your mobile device or via the mobile
application marketplace or network. You can also request to opt-out
via email, at privacy@soojuicy.com.</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333">&nbsp;</FONT></P>
<H3><FONT COLOR="#333333">Data Retention Policy, Managing Your
Information</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">We
will retain User Provided data for as long as you use the Application
and for a reasonable time thereafter. We will retain Automatically
Collected information for up to 24 months</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">and
thereafter may store it in aggregate. If you</SPAN></FONT><FONT COLOR="#333333"><SPAN LANG="fr-FR">’</SPAN></FONT><FONT COLOR="#333333"><SPAN LANG="en-US">d
like us to delete User Provided Data that you have provided via the
Application, please contact us at</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">privacy@soojuicy.comand
we will respond in a reasonable time. Please note that some or all of
the User Provided Data may be required in order for the Application
to function properly.</SPAN></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333">&nbsp;</FONT></P>
<H3><FONT COLOR="#333333">Children</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">We
do not use the Application to knowingly solicit data from or market
to children under the age of 13. If a parent or guardian becomes
aware that his or her child has provided us with information without
their consent, he or she should contact us at</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">privacy@soojuicy.com.
We will delete such information from our files within a reasonable
time.</SPAN></FONT></FONT></P>
<H3><FONT COLOR="#333333">&nbsp;</FONT></H3>
<H3><FONT COLOR="#333333">Security</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333"><FONT FACE="Calibri, serif">We are concerned
about safeguarding the confidentiality of your information. We
provide physical, electronic, and procedural safeguards to protect
information we process and maintain. For example, we limit access to
this information to authorized employees and contractors who need to
know that information in order to operate, develop or improve our
Application. Please be aware that, although we endeavor provide
reasonable security for information we process and maintain, no
security system can prevent all potential security breaches.</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333">&nbsp;</FONT></P>
<H3><FONT COLOR="#333333">Changes</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">This
Privacy Policy may be updated from time to time for any reason. We
will notify you of any changes to our Privacy Policy by posting the
new Privacy Policy</SPAN></FONT><FONT COLOR="#333333">&nbsp;soojuicy.com/privacy&nbsp;and&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">informing
you via push notification in-app. You are advised to consult this
Privacy Policy regularly for any changes, as continued use is deemed
approval of all changes. You can check the history of this policy by
soojuicy.com/privacy.</SPAN></FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333">&nbsp;</FONT></P>
<H3 LANG="fr-FR"><FONT COLOR="#333333">Your Consent</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">By
using the Application, you are consenting to our processing of your
information as set forth in this Privacy Policy now and as amended by
us. &quot;Processing,</SPAN></FONT><FONT COLOR="#333333">” </FONT><FONT COLOR="#333333"><SPAN LANG="en-US">means
using cookies on a computer/hand held device or using or touching
information in any way, including, but not limited to, collecting,
storing, deleting, using, combining and disclosing information, all
of which activities will take place in the United States. If you
reside outside the United States</SPAN></FONT><FONT COLOR="#333333">&nbsp;</FONT><FONT COLOR="#333333"><SPAN LANG="en-US">your
information will be transferred, processed and stored there under
United States</SPAN></FONT><FONT COLOR="#333333">&nbsp;privacy
standards.&nbsp;</FONT></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT COLOR="#333333">&nbsp;</FONT></P>
<H3><FONT COLOR="#333333">Contact us</FONT></H3>
<P ALIGN=LEFT STYLE="margin-bottom: 0.14in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
<FONT FACE="Calibri, serif"><FONT COLOR="#333333"><SPAN LANG="en-US">If
you have any questions regarding privacy while using the Application,
or have questions about our practices, please contact us via email
at</SPAN></FONT><FONT COLOR="#333333">&nbsp;privacy@soojuicy.com.</FONT></FONT></P>
<DIV TYPE=FOOTER>
	<P ALIGN=LEFT STYLE="margin-top: 0.46in; margin-bottom: 0in; background: transparent; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-before: auto; page-break-after: auto">
	<BR>
	</P>
</DIV>
</BODY>
</HTML>
