<html>
  <head>
  </head>
    <style>
      body {
        font-size: 2em;
        padding: 40px;
      }
    </style>
  <body>
  <div>
    <p>
    Juicy Inc. ("Juicy") operates this web site (the "Web Site") pursuant to agreements with Juicy . Juicy is  hereinafter referred to as "we" or "us".
    </p>
    <p>
    PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THE WEB SITE OR APP. YOUR USE OF THIS WEB SITE OR APP CONFIRMS YOUR UNCONDITIONAL ACCEPTANCE OF THE FOLLOWING TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THESE TERMS AND CONDITIONS, DO NOT USE THIS WEB SITE.
    </p>
    <p>
    * Products, Content and Specifications. All features, content, specifications, products and prices of products and services described or depicted on this Web Site are subject to change at any time without notice. Certain weights, measures and similar descriptions are approximate and are provided for convenience purposes only. We make all reasonable efforts to accurately display the attributes of our products, including the applicable colors; however, the actual color you see will depend on your computer system and we cannot guarantee that your computer will accurately display such colors. The inclusion of any products or services in this Web Site at a particular time does not imply or warrant that these products or services will be available at any time. It is your responsibility to ascertain and obey all applicable local, state, federal and international laws (including minimum age requirements) in regard to the possession, use and sale of any item purchased from this Web Site. By placing an order, you represent that the products ordered will be used only in a lawful manner.
    </p>
    <p>
    * Shipping Limitations. When an order is placed, it will be shipping to an address designated by the purchaser as long as that shipping address is compliant with the shipping restrictions contained on this Web Site. All purchases from this Web Site are made pursuant to a shipment contract. As a result, risk of loss and title for items purchased from this Web Site pass to you upon delivery of the items to the carrier. You are responsible for filing any claims with carriers for damaged and/or lost shipments.
    </p>
  </body>
</html>
