<% include ../includes/start.ejs %>
<div class="container">
  <div class="information">
    <div class="header">Confessions Search</div>
    <form class="form" action="/search">
      <input name="_csrf" type="hidden" value="<%= csrf %>"/>
      <input name="search" type="search" class="input" placeholder="Search for your confessions...." autofocus/>
    </form>
    <div class="results"></div>
  </div>
</div>
<% include ../includes/end.ejs %>
