<div class="guidelines">
	<div class="header">Guidelines</div>
	<div class="subheader">We trust you to make the right<br>call when there’s a gray area</div>
	<ul class="guides">
  	<li><strong>When in doubt, spam it</strong></li>
  	<li><strong>Don’t delete,</strong> always spam</li>
  	<li><strong>No full names, only first names,</strong> no last initials</li>
  	<li><strong>No blatant racism.</strong> Venting about white people problems is ok</li>
  	<li><strong>No blatant sexism.</strong> This is a tricky area, if someone says they’re friendzoned, post it. If someone says they believe women are asking for it, then don’t post it</li>
  	<li><strong>No threats of violence,</strong> unless you think someone would see it as joking</li>
  	<li><strong>No rape posts</strong> whatsoever</li>
  	<li><strong>No posts about the other confessions page</strong></li>
  	<li><strong>No posts promoting links</strong> e.g see my craigslist ad</li>
  	<li><strong>Make your judgement on sexual posts,</strong> I don’t know how to word this, the page should be weird from time to time, but not gross</li>
	</ul>
</div>
