<% include ../includes/start.ejs %>
<div class="container">
  <div class="header">Moderator Login</div>
  <form class="form" action="/moderator/login">
    <input name="_csrf" type="hidden" value="<%= csrf %>"/>
    <input name="email" class="input" type="email" placeholder="Email" required step="1" autofocus/>
    <input name="password" class="input" type="password" placeholder="Password" required step="2"/>
    <input class="submit" type="submit" value="Start Moderating :)" />
  </form>
</div>
<% include ../includes/end.ejs %>
