<% include ../includes/start.ejs %>
<div class="container">
  <div class="header">Spam Queue</div>
  <div class="inner-container">
    <% if(school) { %>
      <div class="filtered-school">
        Filtered confessions for <strong><%= school.name %></strong>
      </div>
    <% } %>
    <div class="loading">Loading spam confessions</div>
    <div class="posts"></div>
  </div>
</div>
<input class="csrf" type="hidden" value="<%= csrf %>"/>
<% include guidelines.ejs %>
<% include ../includes/end.ejs %>
