@media (max-width: 850px) {
  .container {
    width: 470px !important;
  }

  .container .information {
		float: none !important;
	}

  .container .image {
	  display: none !important;
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  width: 850px;
}

.container .information {
  width: 470px;
}

.container .information.imagesAllowed {
	margin-top: -10px;
}

.container .information .form .input.textarea {
  height: 260px;
  resize: none;
  font-size: 20px;
}
