.logo {
	display: none;
}

.guidelines {
	position: absolute;
	z-index: 5;
	top: 15px;
	left: 15px;
	width: 300px;
	background: #fff;
	overflow: hidden;
	margin-bottom: 15px;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.guidelines .header {
	font-size: 16px;
	background: #F7F7F7;
	color: #636363;
	padding: 10px 0;
	margin: 0;
	border-bottom: solid 1px #ededed;
	text-shadow: none;
}

.guidelines .subheader {
	text-align: center;
	font-size: 15px;
	color: #636363;
	background: #fcfcfc;
	padding: 8px 0;
	border-bottom: solid 1px #f3f3f3;
}

.guidelines .guides {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	padding-right: 15px;
	margin-left: -10px;
}

.guidelines .guides li {
	margin-bottom: 8px;
	color: #666;
}

.container {
  position: relative;
  z-index: 2;

  width: 550px;
  margin: 50px auto;
}

.header {
  text-align: center;
  font-size: 32px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  font-weight: bold;
}

.inner-container {
  padding: 20px;
  background: #fff;
  overflow: hidden;

  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filtered-school {
  margin: -20px -20px 20px -20px;
  padding: 15px 20px;
  background: #f7f7f7;
  border-bottom: solid 1px #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.loading {
  text-align: center;
  color: #666;
  font-size: 18px;
  font-weight: bold;
}

.post {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: solid 1px #f3f3f3;
  overflow: hidden;
  zoom: 1;
}

.post:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.post .left {
  float: left;
  width: calc(100% - 110px);
}

.post .right {
  float: right;
}

.post .message,
.post .adminNote {
  border: none;
  outline: none;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  color: #333;
  background: #fafafa;
  height: 180px;
  resize: vertical;
  width: 100%;
  display: block;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  -webkit-appearance: none;
}

.post .adminNote {
  background: #eeeeee;
  height: 40px;
}

.post .image {
  width: 100%;
  height: auto;
  margin: 0;
  display: none;
}

.post .time {
  color: #777;
  font-size: 16px;
  margin-top: 10px;
}

.post .actions {
  width: 80px;
  float: right;
}

.post .actions .button {
  display: block;
  margin-bottom: 10px;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 14px;
  opacity: 0.7;
  cursor: pointer;
  outline: none;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: opacity .2s ease 0;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease 0;
  transition: opacity .2s ease 0;

  -webkit-appearance: none;
}

.post .actions .button:hover {
  opacity: 0.85;
}

.post .actions .button:hover:active {
  opacity: 1;
}

.post .actions .push,
.post .actions .revert {
  background: #4862A3;
}

.post .actions .delete {
  background: #E21221;
}

.post .actions .spam {
  background: #FF503A;
}

@media (max-width: 1200px) {
  .guidelines {
    width: 250px;
  }

  .container {
	  right: -50px;
  }
}

@media (max-width: 1000px) {
  .guidelines {
    width: 225px;
  }

  .container {
	  right: -70px;
  }
}

@media (max-width: 950px) {
  .guidelines {
    display: none;
  }

  .container {
	  left: -40px;
  }
}

@media (max-width: 600px) {
  .guidelines {
	  display: none !important;
  }

  .loading {
	  font-size: 16px;
	}

  .post .left {
	  float: none;
	  width: 100%;
	}

	.post .right {
	  float: none;
	}

	.post .actions {
		width: 100%;
		margin: 10px auto 0 auto;
		float: none;
		text-align: center;
	}

	.post .actions .button {
		width: calc(100%/3 - 15px);
		margin: 0 5px;
		display: inline-block;
	}

  .container {
	  width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    padding: 50px 20px 20px 20px;
    margin: 0 auto !important;

    -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
  }
}
