.corner-links {
  position: fixed;
  z-index: 4;
  top: 15px;
  right: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.corner-links .link {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  cursor: pointer;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: background .2s ease 0;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease 0;
  transition: background .2s ease 0;
}

.corner-links .link:hover {
  background: rgba(0, 0, 0, 0.3);
}

.corner-links .link:hover:active {
  background: rgba(0, 0, 0, 0.5);
}

.school-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.popup-darkener {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.popup-container {
  position: relative;
  z-index: 2;
  margin: 200px auto 0 auto;
  width: 500px;
  background: #fff;
  overflow: hidden;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.popup-header {
  padding: 15px;
  background: #f7f7f7;
  border-bottom: solid 1px #e5e5e5;
  overflow: hidden;
  zoom: 1;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.popup-title {
  float: left;
}

.popup-close {
  float: right;
  margin: -15px -15px -15px 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.025);
  border-left: solid 1px #e5e5e5;
  cursor: pointer;
}

.popup-close:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

.popup-close:hover:active {
  background: rgba(0, 0, 0, 0.8);
}

.popup-schools {
  padding: 15px 0 0 15px;
}

.popup-school {
  padding: 8px;
  margin: 0 15px 15px 0;
  color: #4CABFF;
  text-decoration: none;
  border: solid 1px #4CABFF;
  float: left;


  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.popup-school:hover {
  color: #fff;
  background: #0787ff;
  border: solid 1px #0787ff;
}

.popup-school:hover:active {
  background: #0065c1;
  border: solid 1px #0065c1;
}
