body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ff503a;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;

  width: 550px;
  margin: 50px auto;
}

.container .information .header {
  text-align: center;
  font-size: 32px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  font-weight: bold;
}

.container .information .form .input {
  width: 100%;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: #666;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 24px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: background .2s ease 0;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease 0;
  transition: background .2s ease 0;

  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.container .information .form .input:focus {
  background: #fff;
}

.container .information .results .post {
	background: #fff;
  margin-bottom: 15px;
  overflow: hidden;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.container .information .results .post:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.container .information .results .post .message {
  padding: 15px;
  font-size: 18px;
  color: #666;
  background: #fff;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container .information .results .post .image {
  margin: 0;
  width: 100%;
  height: auto;
  display: none;
}

.container .information .results .post .bottom {
  color: #777;
  font-size: 16px;
  background: #fafafa;
  border-top: solid 1px #f5f5f5;
  padding: 15px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  zoom: 1;
  overflow: hidden;
}

.container .information .results .post .bottom .left {
	float: left;
}

.container .information .results .post .bottom .right {
	float: right;
}
