<% include ../includes/start.ejs %>
<div class="container">
  <div class="information">
    <div class="header">Juicy</div>
    <div class="subheader">Share without worries!</div>
    <div class="description">
      Scandal. Intrigue. Secrets. Share the juicy details. We’ll tell you what your friends are really like. Share anonymously to as many or as little as you want.
    </div>
    <form class="form" action="/phone">
      <input name="_csrf" type="hidden" value="<%= csrf %>"/>
      <input name="phone" class="input phone" type="tel" placeholder="Your digits ### ### ####" required step="1" autofocus/>
      <input class="submit" type="submit" value="Get your daily squeeze!" />
      <div class="contact">We just sent the link to your phone!</div>
    </form>
  </div>
  <img class="image" src="/images/home.png"/>
</div>
<% include ../includes/end.ejs %>
