<% include ../includes/start.ejs %>
<div class="container">
  <div class="information">
    <div class="header">Juicy</div>
    <div class="subheader">Share without worries!</div>
    <form class="form" action="/tester">
      <input name="_csrf" type="hidden" value="<%= csrf %>"/>
      <input name="name" class="input" type="text" placeholder="My Name" required step="1" autofocus/>
      <input name="email" class="input" type="email" placeholder="My Email" required step="2"/>
      <input class="submit" type="submit" value="Join the beta, it will be fun :)" />
      <div class="contact">We will contact you by email soon...</div>
    </form>
  </div>
  <img class="image" src="/images/home.png"/>
</div>
<% include ../includes/end.ejs %>
