<% include ../includes/start.ejs %>
<div class="container">
  <div class="information centered">
    <div class="header"><%= school.name %></div>
    <div class="subheader">Currently creating new confessions is unavailable. Please check back soon. Sorry :(</div>
    </form>
  </div>
</div>
<% include ../includes/end.ejs %>
